@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
    --font-family-base: 'Poppins', sans-serif;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: gray;
    --color-neutral-900: #212529;
    --color-white-08: rgba(255, 255, 255, 0.08);
}

