@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/** Common Start */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

label {
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 350px;
    height: 85px;
}

@media screen and (max-width: 768px) {
    #logo {
        width: 190px;
        height: 50px;
    }
}

.btn.bolded {
    font-weight: bold;
}

.container {
    margin: 10px auto;
    overflow: auto;
    min-height: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer {
    margin-bottom: 10px;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}

h3.page-title,
h4.page-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

.linkContainer {
    padding: 5px;
    margin-top: 5px;
    border: 0.2rem solid #ececec;
}

/** Common End */

/* ListContainer Start */

.listContainer.reminder,
.listContainer.coreRecipe {
    border-left: 5px solid green;
}

.listContainer h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listContainer {
    background: #faf1db;
    margin: 5px;
    padding: 10px 20px;
    /* 2.6.2022 lisätty borderit */
    border: 1px solid #e3e3e3;
}

.listContainer p {
    margin-bottom: 0.5em;
}

/* ListContainer End */

/** Form Start */

.form-control {
    margin: 10px 0;
}

.form-control label {
    display: block;
}

form {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    color: #212529;
}

.form-no-paddings {
    padding: 0;
    margin: 0;
}

/** Form End */

/* Custom Start */

.clickable {
    cursor: pointer;
}

.titleBtn:hover,
.editBtn:hover,
.deleteBtn:hover {
    font-style: bold;
    color: orange !important;
}

.btn.btn-block.saveBtn {
    color: white;
    background-color: green;
    /* tai btn-success väri #198754 */
}

.btn.btn-block.saveBtn:hover {
    background-color: rgb(0, 110, 0);
}

.error {
    background: rgb(255, 145, 145);
    color: black;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

.bigBtn {
    width: 100%;
    height: 220px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.loggedin-user {
    font-size: 1.0em;
    margin-bottom: 3px;
}

.login-container {
    padding: 10px 10px;
}

.page-content {
    margin-top: 0px;
}

/* Custom End */

/* React-Bootstrap changes Start */

.accordion-header .accordion-button {
    padding: 0rem 1rem;
}

.accordion-item .accordion-body {
    padding: 0.5em 1rem 0rem 1rem;
}

/* React-Bootstrap changes End */

/* Avatar start */
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid gray;
    border-style: outset;
}

/* Avatar end */

/* Theme start */

#light {
    background-color: white;
}

#dark {
    background-color: #212529;
}

#dark body,
#dark header,
#dark p,
#dark h3,
#dark h4,
#dark label,
#dark div {
    color: rgb(209, 209, 209);
}

#dark .listContainer {
    background-color: #333333;
}

#dark .accordion-header .accordion-button {
    background-color: black;
}

#dark .bigBtn div {
    color: black;
}

#dark .table-striped>tbody>tr:nth-of-type(even)>* {
    color: rgb(179, 179, 179);
    background-color: rgb(65, 65, 65);
}

#dark .table-striped>tbody>tr:nth-of-type(odd)>* {
    color: white;
    background-color: rgb(31, 30, 30);
}

#dark .accordion-body,
#dark .accordion-item {
    background-color: black;
}

#dark .btn-primary {
    background-color: #0c479f;
}

#dark .form-control,
#dark select {
    background-color: rgb(117, 117, 117);
    color: white;
}

#dark ::placeholder {
    color: rgb(182, 182, 182);
}

#dark .linkContainer {
    border: 0.2rem solid #535353;
}

#dark .nav-tabs .nav-link {
    background-color: rgb(65, 65, 65);
    color: rgb(209, 209, 209);
}

#dark .nav-link.active {
    background-color: rgb(139, 139, 139);
    color: black;
}

#dark .table {
    color: rgb(224, 224, 224);
}

#dark .alert-success {
    background-color: #146c43;
}

#dark .alert-danger {
    background-color: #97000e;
}

#dark .alert-info {
    background-color: #00576a;
}

#dark .alert-warning {
    background-color: #7a720d;
}

#dark .alert-primart {
    background-color: #002c6e;
}

#dark .card-body {
    background-color: dimgrey;
}

#dark .deleteBtn {
    color: red;
}

#dark .table td {
    background-color: #333333;
    color: white;
}

/* Theme end */

/* Modal styles start */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.backdrop img {
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 60px auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}

/* Modal styles end */

.searchSortFilter {
    margin-top: 10px;
}